html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.selectize-input::after{
    content: ' ' !important;
}

.task-item{
  padding-right: 15px;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.task-item:hover{
  background-color: #f9f9f9;
}
.task-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.b-l-3x{
    border-left-width: 3px;
}
.status-0{
    border-left-color: #23b7e5;
}

.task-content{
  color: #999;
}
.task-candidate{
  float: right;
}

.source-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-weight: bold;
  padding: 5px 10px;
}
#gridtask .checkbox{
  margin: 0;
}
#gridtask span.label{
  width: 80px;
  display: inline-block;
  padding: 5px;
}
#notifications {
  cursor: pointer;
  position: fixed;
  right: 0px;
  z-index: 9999;
  top: 0px;
  margin-top: 22px;
  margin-right: 15px;
  max-width: 400px;   
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
#navx .dropdown-menu li{
  overflow: inherit;
}
#navx .dropdown-submenu > .dropdown-menu{
  width: 190px;
}
#navx .dropdown-menu .divider{
  background-color: #e5e5e5;
}
.nav-tabs > li.active > a{
  font-weight: bold;
}